<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="current_slots" data-view="CurrentSlots" data-title="Current Available Slots" style="background-color:#ec663c;"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="taken_slots" data-view="TakenSlots" data-title="Taken Slots" style="background-color:#ec663c;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1" style="margin-top: 35px;">
      <div data-id="total_test_runs" data-view="TotalTestsRun" data-title="Total Tests Run" style="background-color:#3498DB;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1" style="margin-top: 35px;">
      <div data-id="total_minutes" data-view="TotalMinutes" data-title="Total Minutes" style="background-color:#3498DB;"></div>
    </li>
  </ul>
</div>
